@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #373A39;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}
a{
    text-decoration: none;
    color: #AA9885
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #AA9885;
}
h2{
    font-size: 38px;
    color: #AA9885;
}
p{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    color: #AA9885;
}
header{

}
#head{
    display: flex;
    align-items: center;
    background-color: #28292A;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    height: 60px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 20px;
    color: #AA9885;

}
main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    justify-content: space-between;
}
section{
    display: flex;
    flex-direction: column;
}
#navigation{
    margin-left: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#logo{
    width: 60px;
    height: 60px;
    top: 2px;
}
#home {
    width: 45px;
    height: 40px;
}
#more{
    height: 30px;
    width: 400px;
    text-align: center;
    color: #AA9885;
}
.burgerImg{
    display: none;
    width: 60px;
    height: 60px;
    filter: invert(64%) sepia(8%) saturate(758%) hue-rotate(350deg) brightness(96%) contrast(87%);
}
aside{
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-around;
    height: 2600px;
    width: 20%;
    right: 0;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#MainP{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
section img{
    height: 500px;
    max-width: 400px;
}
.menu{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 60px;
    background-color: #28292A;
    right: 0;
    font-size: 16px;
}
#menu a{
    margin: 10px 5px;
}
.menu-active{
    display: flex;
}


@media (max-width: 1420px) {
    aside{
        display: none;
    }
    
}



@media(max-width: 860px){
    nav{
        display: none;
    }
    #navigation{
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .burgerImg{
        display: block;
    }
    section img{
        height: 300px;
        max-width: 200px;
    }
    #MainP{
        display: flex;
        flex-direction: column;

    }
    p{
    width: 80%;
    }

}
@media (max-width: 480px){
    h2{
        font-size: 20px;
    }
}